{{ define "head" }} 
    {{- partial "heads/baseHead.html" . -}}
    {{- $extraCss := resources.Get "styles/resume.css" -}}
    <link rel="stylesheet" href="{{ $extraCss.RelPermalink }}">
{{ end }}

{{ define "main" }}
<main>
    <div class="fullProfile">
        {{ $profilePicture := resources.Get .Params.profilePicture }}
        <img class="profilePicture" src="{{ $profilePicture.RelPermalink }}"    alt="Picture Profile">

        <h1>{{ .Params.author }}</h1>

        <a class="email" href="{{ .Params.email }}"><h3>{{ .Params.email }}</h3></a>

        <p>{{ .Params.presentation }}</p>

        <div class="parametersRow">
            <section>
                <h3>Softwares:</h3>
                <ul>
                    <li>- Blender</li>
                    <li>- Substance Painter</li>
                    <li>- Substance Designer</li>
                    <li>- Unreal Engine</li>
                </ul>
            </section>
            <section>
                <h3>Languages:</h3>
                <ul>
                    <li>- Portuguese (Native)</li>
                    <li>- English (Working Proficiency)</li>
                </ul>
            </section>
        </div>

        <a class="linkTo3DArt" href="{{ absURL "artwork/3dart"}}"><h3>You can found some of my 3D Artworks clicking here!</h3></a>
    </div>
</main>
{{ end }}