@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --background-colo: #131019;
    --big-text-color: #F0DDC2;
    --small-text-color: #F4D3A0;
}

body{
    background-color: var(--background-colo);
    font-family: "Lato", sans-serif;
}

header{
    margin: 15px auto 25px 35px;

    display: flex;

    align-items: center;
}

header > a{
    text-decoration: none;
}

nav{
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
}

nav a{
    margin: 0px 0px 10px 0px;

    text-decoration: none;
    font-weight: 500;
}

nav a:hover{
    font-weight: 700;
}

main{
    padding: 25px;
    display: flex;
}

article{
    min-width: 270px;
    max-width: 750px;
    margin: 0px auto;
}

article > a{
    text-decoration: none;
}

article > a:hover{
    text-decoration: underline;
}

article > hr{
    color: var(--small-text-color);
    margin: 15px 0px;
}

aside{
    min-width: 270px;
    max-width: 450px;
    margin: 0px auto;
}

main > hr{
    color: var(--small-text-color);
    margin: 0px 25px;
}

footer > p{
    text-align: center;
}

h1{
    font-weight: 700;
    color: var(--big-text-color);
}

time{
    font-style: italic;
    font-weight: 400;
    color: var(--small-text-color);

    line-height: 1em;
}

iframe{
    width: 100%;
    height: 100%;
}

.lastPublishing
{
    min-width: 270px;
    max-width: 750px;
    max-height: 700px;
    margin: 0px auto;
    overflow: scroll;
}

.lastPublishing article{
    margin: 0px 0px 50px 0px;
}

.about-me{
    text-align: center;
}

.articleDataAndTags{
    display: flex;
    padding: 0px 0px 0px .5em;
}

.articleDataAndTags hr{
    color: var(--small-text-color);
    
    margin: 0px 8px;
    max-height: 25px;
}

.articleTag{
    text-decoration: none;
    font-weight: bolder;
    text-indent: 0px;
    line-height: 1em;
    
    margin: 0px 5px 0px 0px;
    padding: 0px;
}

.articleTag:hover{
    text-decoration: underline;
}

.onJournaling{
    text-align: center;
}

p{
    font-weight: 400;
    color: var(--small-text-color);
    padding: .5em;

    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5em;
}

a{
    color: var(--small-text-color);
    font-weight: bolder;
}

@media (max-width: 1100px) {
    main{
        flex-direction: column;
    }

    main hr{
    color: var(--small-text-color);

    margin: 25px 0px;
    }
}