@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #131019;
}

header{
    margin: 15px auto 25px 35px;
    min-width: 270px;
    max-width: 750px;
}

header > a{
    text-decoration: none;
}

main{
    padding: 25px;
    display: flex;
}

article{
    min-width: 270px;
    max-width: 750px;
    margin: 0px auto;
}

article > a{
    text-decoration: none;
}

article > a:hover{
    text-decoration: underline;
}

aside{
    min-width: 270px;
    max-width: 450px;
    margin: 0px auto;
}

main > hr{
    color: #F4D3A0;

    margin: 0px 25px;
}

/*
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}
*/

footer > p{
    text-align: center;
}

h1{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #F0DDC2;
}

time{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #F4D3A0;

    line-height: 1em;
}

.home{
    margin: 0px 0px 15px 0px;
}

.about-me{
    text-align: center;
}

.articleDataAndTags{
    display: flex;
    padding: 0px 0px 0px .5em;
}

.articleDataAndTags hr{
    color: #F4D3A0;
    
    margin: 0px 8px;
    max-height: 25px;
}

.articleTag{
    font-weight: bolder;
    text-indent: 0px;
    line-height: 1em;
    
    margin: 0px 5px 0px 0px;
    padding: 0px;

    /*
    background-color: #F0DDC2;
    border-radius: 999px;
    */
}

p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #F4D3A0;
    padding: .5em;

    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5em;
}

a{
    color: #F4D3A0;
    font-weight: bolder;
}

@media (max-width: 1400px) {
    main{
        flex-direction: column;
    }

    hr{
    color: #F4D3A0;
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 25px auto;
    }
}