<header>
    <a href="/index.html">
    {{ $siteLogo := resources.Get "imgs/permanent/Potikatu_Logo-Colored.png" }}
    <img src="{{ $siteLogo.RelPermalink }}" alt="PotiKatu Logo">
    </a>

    <nav>
        <a href="/nada">
            Arte</a>
        <a href="{{ absURL "journaling" }}">
            Journal</a>
        <a href="{{ absURL "devLogs" }}">
            Dev Log</a>
    </nav>

    <nav>
        <a href="/nada">
            Documentações</a>
        <a href="/nada">
            Ferramentas</a>
        <a href="{{ absURL "artRefs" }}">
            Referências</a>
    </nav>
</header>