<header>
    <a href="/index.html">
    {{ $siteLogo := resources.Get "imgs/permanent/Potikatu_Logo-Colored.png" }}
    <img src="{{ $siteLogo.RelPermalink }}" alt="PotiKatu Logo">
    </a>

    <nav>
        <a href="{{ absURL "artwork" }}">
            Arte</a>

        <a href="{{ absURL "1420mhz" }}">
            1420 MHz</a>

        <a href="{{ absURL "journaling" }}">
            Journaling</a>

        <a href="{{ absURL "resume/bromodumont" }}">
            Resume</a>
    </nav>
</header>