@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    background-color: #131019;
}

h1{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: #F0DDC2;
}

p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #F4D3A0;
}