main{
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    margin: 0px 0px 4px 0px;
}

.projectHeader{
    margin: 10px auto 30px;
}

.projectHeader .date{
    text-align: center;
}