article{
    min-width: 270px;
    max-width: 750px;
    margin: 0px auto;
}

article p{
    padding: 0em 0em 1em;
}

article .date{
    margin: .5em 0em 1em;
}

article a{
    text-decoration: none;
}

article a:hover{
    text-decoration: underline;
}

article > hr{
    color: var(--small-text-color);
    margin: 1em 0px;
}

article figure > img{
    max-width: 100%;
    margin: 25px auto .5em;
    border-radius: 15px;

    display: block;
}

figcaption p{
    text-align: center;
    text-indent: 0em;
    line-height: 1em;

    padding: 0px;
}

ul{
    color: var(--small-text-color);
    margin: 0em 0em 0em 1.5em;
}

li{
    text-align: justify;
}


.articleIndex{
    color: var(--background-color);
    margin: 0px auto;
    text-align: left;
}

.giscus{
    margin: 25px auto;
}