main{
    flex-direction: column;
    align-items: center;
}

.libraryIndex a{
    text-decoration: none;
}

.libraryIndex a:hover{
    text-decoration: underline;
}

.midiaPreview{
    display: flex;
    flex-direction: row;

    margin-bottom: 35px;

    max-width: 720px;
}

.midiaCover{
    height: 250px;
    border-radius: 25px;
    margin: 0px 16px 0px 0px;
}

.bookInformations{
    display: flex;
    flex-direction: column;
}

.fullContent{
    display: flex;
    flex-direction: row;
}

.fullContent div{
    margin: 0px 25px 0px 0px;
}


/*Metadata*/
.mediaMetadata{
    display: flex;
    flex-direction: column;
    align-items:start;

    max-width: 300px;
}

.mediaMetadata div{
    display: flex;
    flex-direction: row;
}

.mediaMetadata p{
    text-indent: 0;
    line-height: 1em;
    padding: 10px 0px;

    text-align: left;
}

.midiaMetadataPreview{
    display: flex;
    flex-direction: column;

    margin: 8px 0px 0px 0px;
}

.midiaMetadataPreview div{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 8px 0px;
}

.midiaMetadataPreview p{
    text-indent: 0;
    line-height: 1em;
    padding: 0;
    font-style: italic;
}

.paramInfo{
    font-weight: bold;
    margin: 0em .25em 0em 0em;
}

.giscus{
    max-width: 750px;
    margin: 25px auto;
}