.podcastEpisode{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1650px;
    width: 100%;
    margin: 15px auto 25px;
    gap: 15px;
}

.podcastEpisode iframe{
    width: 100%;
    height: 152px;
    border-radius: 12px;
    border: 0;

    border-radius: 12px;
}

.podcastEpisode p{
    margin: 0px 10px 15px;
}

.podcastEpisode p{
    max-width: 500px;
}