@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --background-colo: #131019;
    --big-text-color: #F0DDC2;
    --small-text-color: #F4D3A0;
}


/* Individual Elements */
body{
    background-color: var(--background-colo);
    font-family: "Lato", sans-serif;
}

figure{
    margin: 25px 0px;
}

h1{
    font-weight: 700;
    color: var(--big-text-color);
}

ul{
    color: var(--small-text-color);
    margin: 0em 0em 0em 1.5em;
}

li{
    text-align: justify;
}

p{
    font-weight: 400;
    color: var(--small-text-color);
    padding: .5em;

    text-align: justify;
    text-indent: 1.5em;
    line-height: 1.5em;
}

a{
    color: var(--small-text-color);
    font-weight: bolder;
}

/* Header */
header{
    margin: 15px auto 50px 35px;

    display: flex;

    align-items: center;
}

header > a{
    text-decoration: none;
}


/* Nav */
nav{
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
}

nav a{
    margin: 0px 0px 10px 0px;

    text-decoration: none;
    font-weight: 500;
}

nav a:hover{
    font-weight: 700;
}


/* Main */
main{
    padding: 0px 25px 50px 0px;
    display: flex;
}

main > hr{
    color: var(--small-text-color);
    margin: 0px 25px;
}


/* Article */
article{
    min-width: 270px;
    max-width: 750px;
    margin: 0px auto;
}

article a{
    text-decoration: none;
}

article a:hover{
    text-decoration: underline;
}

article > hr{
    color: var(--small-text-color);
    margin: 1em 0px;
}

article img{
    margin: 0px 0px 20px 0px;
}


/* Aside */
aside{
    min-width: 270px;
    max-width: 450px;
    margin: 0px auto;
}

aside > h1{
    text-align: center;
}


/* Footer */
footer p{
    padding: 0em 0em .5em 0em;
    text-align: center;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}


/* Individual Elements */
.date{
    font-style: italic;
    font-weight: 700;
    text-indent: 0em;
    padding: 0em;
    margin: .5em 0em 1em 0em;
}


.lastJournalins{
    min-width: 270px;
    max-width: 750px;
    max-height: 700px;
    margin: 0px auto;
    padding: 0px 15px 0px 0px;
    overflow: scroll;
}


/* Article Index */
.articleIndex{
    color: var(--background-colo);
    margin: 0px auto 50px auto;

    color: var(--background-colo);
    margin: 0px auto 50px auto;
}

.articleIndex li{
    text-align: left;
}


/* Article Preview */
.articlePreview{
    min-width: 270px;
    max-width: 750px;
    margin: 0px auto 35px auto;
}

.articlePreview a{
    text-decoration: none;
}

.articlePreview a:hover{
    text-decoration: underline;
}

/* Art Project Index */
.artProjectIndex{
    color: var(--background-colo);
    margin: 0px auto 50px auto;
}

/* Art Project Preview */
.artProjectPreview{
    min-width: 270px;
    max-width: 950px;
    margin: 0px auto 35px auto;

    display: flex;
}

.artProjectPreview a{
    text-decoration: none;
}

.artProjectPreview a:hover{
    text-decoration: underline;
}

.artProjectPreview img{
    max-width: 350px;
    min-width: 100px;
    max-height: 200px;
    border-radius: 5%;
}

.artProjectPreviewText{
    margin: 0px 25px;
}


/* Dev Log Index */
.devLogIndex{
    color: var(--background-colo);
    margin: 0px auto 50px auto;
}

/* Dev Log Preview */
.devLogPreview{
    min-width: 270px;
    max-width: 950px;
    margin: 0px auto 35px auto;
    
    display: flex;
}

.devLogPreview a{
    text-decoration: none;
}

.devLogPreview a:hover{
    text-decoration: underline;
}

.devLogPreview img{
    height: 250px;
    aspect-ratio: 1 / 1;
    border-radius: 5%;
    object-fit: cover;  
}

.devLogPreviewText{
    margin: 0px 25px;
    overflow: hidden;
    height: 150px;
}


/* Metadata */
.metadataPreview{
    display: flex;
    padding: 0px 0px 0px .5em;
}

.metadataPreview p{
    text-indent: 0em;
    line-height: 0em;
    padding: 0em;

    font-style: italic;

    align-content: center;
}

.metadataPreview hr{
    color: var(--small-text-color);
    
    margin: 0px 8px;
    max-height: auto;
}

.metadataPreview ul{
    display: flex;
    text-align: left;
    margin: 0px 8px 0px 0px;
}

.metadataPreview a{
    margin: 0px 8px 0px 0px;
}


@media (max-width: 1100px) {
    main{
        flex-direction: column;
    }

    main hr{
    color: var(--small-text-color);

    margin: 25px 0px;
    }
}