{{ define "head" }}
    {{- partial "heads/baseHead.html" . -}}
    {{- $extraCss := resources.Get "styles/devLogs.css" -}}
    <link rel="stylesheet" href="{{ $extraCss.RelPermalink }}">
{{ end }}

{{ define "main" }}
<main>
    <section class="projectHeader">
        <h1>{{ .Title }}</h1>
        <h2>Dev Logs</h2>
    </section>
    <section class="projectDevLogIndex">
        {{ range .Pages }}
            {{- partial "artwork/floppyDevLog.html.html" . -}}
        {{ end }}
    </section>
</main>
{{ end }}