{{ $project01Thumb := resources.Get (.Params.projectThumb | default "") }}
<a href="{{ .Params.link | default .RelPermalink | relURL }}" class="projectThumb">
    {{ with $project01Thumb }}
        <img src="{{ .RelPermalink }}" alt="{{ $.Title }} thumbnail" style="--thumbAspectRatio: {{ $.Params.thumbAspectRatio | default "16/9" | safeCSS }};">
    {{ end }}
    <div class="projectInfo">
        <p>{{ .Title }}</p>
        <hr>
        {{ with index (.GetTerms "tags") 0 }}
            <p>{{ .LinkTitle }}</p>
        {{ end }}
    </div>
</a>