<nav class="artProjectNavegation">
    <a class="subNavLinks" href="{{ absURL "artwork/3dart" }}" {{ if eq .RelPermalink "/artwork/3dart/" }}id="actualEnv"{{ end }}>
        <h3>Arte 3D</h3>
    </a>
    <a class="subNavLinks" href="{{ absURL "artwork/photography" }}" {{ if eq .RelPermalink "/artwork/photography/" }}id="actualEnv"{{ end }}>
        <h3>Fotografia</h3>
    </a>
    <a class="subNavLinks" href="{{ absURL "artwork/films" }}" {{ if eq .RelPermalink "/artwork/films/" }}id="actualEnv"{{ end }}>
        <h3>Filmes</h3>
    </a>
    <a class="subNavLinks" href="{{ absURL "artwork/generalart" }}" {{ if eq .RelPermalink "/artwork/generalArt/" }}id="actualEnv"{{ end }}>
        <h3>Artes Gerais</h3>
    </a>
</nav>