{{ define "head" }}
    {{- partial "heads/baseHead.html" -}}
    {{- $extraCss := resources.Get "styles/artProjects.css" -}}
    <link rel="stylesheet" href="{{ $extraCss.RelPermalink }}">
{{ end }}

{{ define "main" }}
<main>
    {{- partial  "artwork/artworkNavBar.html" . -}}

    <hr class="artProjectNavDivider">

    <section class="projectRows">
        {{ $firstProject := site.GetPage "artwork/photography/Nubes"}}
        {{- partial "artwork/photographyProjects.html" $firstProject}}

        {{ $firstProject := site.GetPage "artwork/photography/OUVINTE"}}
        {{- partial "artwork/photographyProjects.html" $firstProject}}

        {{ $firstProject := site.GetPage "artwork/photography/Pedra"}}
        {{- partial "artwork/photographyProjects.html" $firstProject}}
    </section>
</main>
{{ end }}