{{ define "head" }}
    {{- partial "heads/baseHead.html" . -}}
    {{- $extraCss := resources.Get "styles/artProjects.css" -}}
    <link rel="stylesheet" href="{{ $extraCss.RelPermalink }}">
{{ end }}

{{ define "main" }}
<main>
    {{- partial  "artwork/artworkNavBar.html" . -}}

    <hr class="artProjectNavDivider">

    {{ if in (slice "/artwork/" "/artwork/films/") .RelPermalink }}
        <section class="projectRows">
            {{ $firstProject := site.GetPage "artwork/films/Turi"}}
            {{- partial "artwork/artworkHomeProjects.html" $firstProject}}

            {{ $firstProject := site.GetPage "artwork/films/Canguaretama2403"}}
            {{- partial "artwork/artworkHomeProjects.html" $firstProject}}
        </section>
    {{ end }}

    {{ if in (slice "/artwork/" "/artwork/photography/") .RelPermalink }}
        <section class="projectRows">
            {{ $firstProject := site.GetPage "artwork/photography/Nubes"}}
            {{- partial "artwork/artworkHomeProjects.html" $firstProject}}

            {{ $firstProject := site.GetPage "artwork/photography/OUVINTE"}}
            {{- partial "artwork/artworkHomeProjects.html" $firstProject}}

            {{ $firstProject := site.GetPage "artwork/photography/Pedra"}}
            {{- partial "artwork/artworkHomeProjects.html" $firstProject}}
        </section>
    {{ end }}

    {{ if in (slice "/artwork/" "/artwork/3dgeneral/") .RelPermalink }}
        <section class="projectRows">
            {{ $firstProject := site.GetPage "artwork/3dgeneral/ChaveChavosa"}}
            {{- partial "artwork/artworkHomeProjects.html" $firstProject}}

            {{ $firstProject := site.GetPage "artwork/3dgeneral/PenteTucuna"}}
            {{- partial "artwork/artworkHomeProjects.html" $firstProject}}

            {{ $firstProject := site.GetPage "artwork/3dgeneral/ChaleiraLoucuragem"}}
            {{- partial "artwork/artworkHomeProjects.html" $firstProject}}
        </section>
    {{ end }}

</main>
{{ end }}