@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

main{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

.projectHeader{
    margin: 10px auto 50px;
}

.projectHeader h2{
    text-align: center;
    
    padding: 0em;
    margin: 0.2em 0px 0px;
    text-indent: 0em;
    line-height: 1em;
}

.projectHeader .date{
    text-align: center;
    
    padding: 0em;
    margin: 0.2em 0px 0px;
    text-indent: 0em;
    line-height: 1em;
}

.projectDevLogIndex{
    display: flex;
    margin: 0px auto 50px;
}

.devLogFloppyDisk{
    display: flex;
    align-items: center;
    max-width: 750px;
    margin: 0px 25px;
    position: relative;

    transition: 
        filter 0.3s ease,
        transform 0.3s ease;
}

.devLogFloppyDisk:hover{
    transform: scale(1.03);
}

.devLogFloppyDisk img{
    max-width: 350px;
    width: 100%;
}

.mask{
    position: absolute;
    top: 63.8%;
    left: 14%;
    width: 72.2%;
    height: 33.1%;

    mask-image: var(--maskLink);
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-mode: luminance;
}

.devLogThumb{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.devLogInfo h2{
    position: absolute;
    top: 45%;
    left: 16.5%;
    width: 67%;

    text-align: center;

    font-weight: bold;
    font-style: normal;
    font-family: "Caveat", cursive;
}

.devLogInfo .date{
    font-weight: bold;
    font-style: normal;
    font-size: .9em;

    position: absolute;
    top: 35%;
    left: 13%;
}


@media (max-width: 1100px) {
    .projectDevLogIndex{
        flex-direction: column;

        gap: 75px;
    }
}